@model Capstone.View_Models.ViewDeclarationsViewModel
@{
    ViewBag.Title = "ApproveOrReject";
    Layout = "~/Views/Shared/_Layout-Manager.cshtml";
}

<h2>ApproveOrReject</h2>

<table class="table">
    <thead>
        <tr>
            <th>Expense ID</th>
            <th>Amount</th>
            <th>Date Incurred</th>
            <th>Date Submitted</th>
            <th>Expense Type</th>
            <th>Status</th>
            <th>Approve / Reject</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expense in Model.Expenses)
        {
            <tr>
                <td>@expense.ExpenseId</td>
                <td>@expense.ExpenseAmount</td>
                <td>@expense.DateIncurred</td>
                <td>@expense.DateSubmitted</td>
                <td>@expense.ExpenseType.Type</td>
                <td>@expense.Status.StatusType</td>
                @if(expense.Status.StatusType == "Pending")
                { 
                    <td>@Html.ActionLink("Approve", "Approve", "Manager", new { id = expense.ExpenseId }, null) | @Html.ActionLink("Reject", "Reject", "Manager", new { id = expense.ExpenseId }, null)</td>
                }
            </tr>
        }
    </tbody>
</table>